body{
  overflow: hidden;
  margin: 0 auto;
}


.images {
  display: flex;
  position: relative;
}



.right {
  display: flex;
  flex-direction: column;
}

.left {
  width: 60vh;
  height: 60vh;
}
figure.right {
  width: 45vh;
  height: 45vh;
}

.gallery {
  position: relative;
  overflow-x: scroll;
}

.galleryRail {
  display: flex;
  transition: all .80s ease;
}





.galleryRail figure {
  display: block;
  background-size: cover;
  margin: 0 auto;
}


.galleryNav  {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 10vh);
  height: calc(100% - 10vh);

}

.galleryNav img {
  position: fixed;
  display: block;
  width: 8vh;
  height: 8vh;
  cursor: pointer;
  z-index: 2;
  opacity: .4;
  transition: all .3s ease-out;


}

.galleryNav img:hover {
  opacity: 1;
}





.galleryNav .disabled {
  opacity: 0;
  cursor: default;
}



div#prev img {
  transform: rotate(180deg);
}
div#next img {
  transform: rotate(0deg);
}
