.footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
}

.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
}

a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1vh;
  color: #505050;
  text-decoration: none;
  margin: 0 10px;
}

p {
  font-family: 'VT323', monospace;
  color: #ffd6e9;
  font-size: 3vh;
  text-decoration: underline;
}
