.footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0vh;
  margin-top: 495px;
}

.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 190px;
}

a,
p {
  font-family: 'Chathura', sans-serif;
  font-size: 26px;
  color: #232323;
  text-decoration: none;
  margin: 0 10px;
}

p {
  color: #ffd6e9;
  font-size: 40px;
}
