.images {
  display: flex;
  position: relative;;
}


.right {
  display: flex;
  flex-direction: column;
}

.left img {
  width: 100vh;
  height: 100vh;
}
.right img {
  width: 50vh;
  height: 50vh;
}

.gallery {
  position: relative;
  overflow: hidden;
}

.galleryRail {
  display: flex;
  transition: all .60s ease;
  align-items: center;
  justify-content: space-between;
}

.galleryRail img {
  display: block;
  margin: 0 auto;
}



.galleryRail figure {
  display: block;
  margin: 0 auto;
}


.galleryNav  {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100% - 51px);

}

.galleryNav div {
  position: relative;display: block;
  width: 20px;
  height: 20px;
  margin: 30px;
  cursor: pointer;
  z-index: 1;
}

.galleryNav .disabled {
  opacity: 0;
  cursor: default;
}



#prev {
  transform: rotate(-45deg);
}
#next {
  transform: rotate(135deg);
}

.galleryNav div::before,
.galleryNav div::after {
  content: "";
  position: absolute;
  background: black;
}
.galleryNav div:before {
  width: 5px;
  height: 20px;
}

.galleryNav div:after {
  width: 20px;
  height: 5px;
}
