.menubar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4vh;
}

.menubar a {
  /*font-family: 'VT323', monospace;*/
  /*font-family: 'Chathura', sans-serif;*/
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1vh;
  color: #505050;
  text-decoration: none;
  margin: 10px 10px 0;
}
