.instagram {
  position: absolute;;
  display: -webkit-box;;
  display: -ms-flexbox;;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  bottom: 0vh;
  height: 4vh;
}

a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1vh;
  color: #505050;
  text-decoration: none;
}

p {
  font-family: 'VT323', monospace;
  color: #ffd6e9;
  font-size: 2vh;
  text-decoration: underline;
  /*margin-top: 8px;*/
}
